.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: var(--light-gray-color);
  background-color: var(--black-color);
}

.footer a {
  font-weight: bold;
  color: #fff;
}
